spring:
  application:
    name: cozy-cuppa-api

  profiles:
    active: local

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
